{% extends "base.html.twig" %}

{% block main %}

{% if others %}
<ul class="gallery_listing">
{% for item in others %}
	<li>
		<a class="file_link" href="{{ url_prefix }}{{ item.filename }}">{{ item.filename }}</a>
		{%- if item.size != null %} <small>({{ item.size | bytes }})</small>{% endif %}
	</li>
{% endfor%}
</ul>

{% if show_map %}
<div class="gallery_map">
	<div class="gallery_map_canvas" id="gallery_map"></div>
</div>
{% endif %}

{% endif %}
<div class="gallery_listing">
{% for item in images %}
	<a class="thumbnail" href="{{ url_prefix }}{{ item.filename }}" data-lat="{{ item.location.lat }}" data-lng="{{ item.location.lng }}">
		<span class="photo">
			<img src="{{ url_prefix }}{{ item.filename }}{{ tb_suffix }}" alt="[thumbnail]"
				{%- if item.tb_width is defined %} width="{{ item.tb_width | round }}"{% endif -%}
				{%- if item.tb_height is defined %} height="{{ item.tb_height | round }}"{% endif -%}>
		</span>
		<span class="name">{{ item.filename }} <small>({{ item.size | bytes }})</small></span>
	</a>
{% endfor %}
</div>
{% endblock %}

